AUTH_SECRET="somerandomsecret"
AUTH_GOOGLE_ID="YOUR_GOOGLE_CLIENT_ID"
AUTH_GOOGLE_SECRET="YOUR_GOOGLE_CLIENT_SECRET"
DATABASE_URL="postgresql://formoku:formoku@localhost:5432/formoku"
NEXT_PUBLIC_PARTYKIT_HOST="127.0.0.1:1999"
GYAZO_ACCESS_TOKEN="sampletoken"
GYAZO_UPLOAD_END_POINT="http://localhost:8888/upload.cgi"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"